@font-face { /* GraphikCompact para H1, H2, H3, H4, H5*/
    src: url(fonts/Graphik-Bold-Trial.otf);
    font-family: 'Graphik Web';
    font-weight: 700;
    font-style: normal;
}

@font-face { /* Graphik Web para PARRAFOS*/
    font-family: 'Graphik Web';
    src: url(fonts/Graphik-Regular-Trial.otf);
    font-weight: 400;
    font-style: normal;
}



/* GLOBAL */

:root {
    --text: rgb(4, 16, 12);
    /* --background: rgb(231, 249, 243); */
    --background: rgb(27, 219, 155);
    --primary: rgb(100, 216, 179);
    --secondary: rgb(186, 238, 221);
    --accent: rgb(44, 175, 134);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

*, *::after, *::before {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Graphik Web', sans-serif;
    font-weight: 700;
    font-style: normal;

    letter-spacing: -.8;
    line-height: 1.15;
}

p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    letter-spacing: -.5;
    line-height: 36px;
    font-family: 'Graphik Web';
    font-weight: 400;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 66px;}

h2 {font-size: 40px;}

h3 {font-size: 24px;}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


/* HERRAMIENTAS PARA JS, seguramente mas tarde agregue */
    
.blackline {
    margin: 20px 10px;
    background-color: #c62368;
    max-width: 100%;
    height: 1px;
    border-radius: 2px;
}


/**/


/* emm header */

.header {
    height: 100vh;
    background-image: url(img/layered-waves-haikei.svg);
    background-size: cover;
    background-position: 50% 90%;
}

.header__navbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header-link {
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
        background-color: var(--primary);
    }
}

.header__front {
    background-color: transparent;
    padding: 10% 0 25% 10%;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header__front__text {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header__front__button {
    background-color: transparent;
    padding: 20px;


    display: flex;
    flex-direction: row;

    gap: 25px;
}

.header__front-button {
    background-color: var(--primary);
    border: none;
    padding: 15px;
    border-radius: 25px;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: var(--accent);
    }
}


/* main */


.guide {
    background-color: #c62368;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.guide__card {

    padding: 10px;
    word-break: keep-all; /* QUIEBRA LA ORACION SALTANDO A LA SIGUIENTE LINEA SI SE PRODUCE OVERFLOW DE TEXTO */
    min-height: auto;

    text-align: center;

    width: 60%;
    height: 60%;
    background-color: #fa7268;
    border-radius: 20px;
}

/* FOOTER */


.footer {
    height: 100vh;
    background-image: url(img/layered-waves-haikei-invertido.svg);
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20px 0 0 0;

    margin: 0;
    bottom: 0;
    right: 0;
}

.footer__container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);

    gap: 20px;
    padding: 20px;
    margin-bottom: -50px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    grid-row: 2 / 3;

    padding: 5%;
}

.footer-link {
    color: gray;
    transition: all 300ms ease;

    &:hover {
        color: white;
    }
}

.footer-privacy {
    font-size: 16px;
    padding-left: 20px;
}

.Privacy-link {
    color: gray;
    transition: all 300ms ease;

    &:hover {
        color: white;
    }
}

@media (max-width: 612px){
    /* header */

    .header {
        word-break: keep-all;
    }

    .header-link {
        display: none;
    }

    .footer {
        height: 200vh;
        padding-bottom: 100px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 2px;
    }

    .footer-privacy {
        margin-top: 50px;
    }
}

@media (max-width: 768px){
    .header-link {
        display: none;
    }

    .guide {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
